* {
    font-size: 16px;
    font-family: 'Outfit';
}

body {
    background-color: hsl(30, 54%, 90%);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: xx-large;
}

hr {
    border: 1px solid hsl(0, 0, 90%);
}

.estimates {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    text-indent: 5%;
}

li {
    margin: 20px;
}

.estimates h2 {
    color: hsl(332, 51%, 32%);
}

ul li::marker {
    font-size: x-small;
}

ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.estimates ul li::marker {
    color: hsl(332, 51%, 32%);
}

ul li::marker {
    color: hsl(14, 45%, 36%);
}

.substrate {
    padding: 15%;
}

.main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    padding: 5%;
}

.serif-font {
    font-family: 'Young Serif';
}

body h2 {
    color: hsl(14, 45%, 36%);
}